# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.editorconfig
build
classes

/gradlew.bat
/gradle
/gradlew
*.e
/libs/ToughAsNails-1.12.2-3.1.0.129-universal.jar
